extends layout.pug 

block content
    div.container 
        h1.topic Product 
        h2.title= product.title 
        p.description= product.description
        a.updating(href=`/${ product.id }/Update`) Update 