extends layout.pug 

block content 
    div.container 
        h1.intro-mes This app will allow users to create, delete, and update products 
        a.featured(href='/create') Create product  
        p.description  This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service