doctype html
html(lang='en')
    head
        title Products
        link(rel='stylesheet', href='/static/styles.css')
    body 
        header.navbar 
            h1 
                a(href="/") Products App   
                

            nav.nav
                h1 
                 a(href='/products') All products 
                
        block content 